html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
}

/* Header-block */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: rgba(243, 53, 53, 0.842);
    padding: 20px 25px;
}


/* Logo */
.header .logo-container {
    display: flex;
    align-items: center;
}

.logo-container .logo {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    font-family: monospace;
}

/* navigation-buttons*/
.header .navigation {
    display: flex;
    column-gap: 6px;
}
.header .navigation button {
    background-color: rgba(21, 36, 175, 0);
    border: 2px rgba(255, 255, 255, 0) solid;
    padding: 2px 8px;
    border-radius: 5px;
}

.header .navigation a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: monospace;
}
.header .navigation button:hover{
    border: 2px white solid;
}

/* Special buttons */
.header .navigation .join {
    background-color: rgb(58, 100, 58);
    margin-left: 20px;
}

.header .navigation .credit {
    background-color: rgb(255, 136, 0);
    margin-right: 20px;
}




/* Hero-block */
.hero-container {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 80px 40px;
    /* height: 80vh; */
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}

.hero-container .contain-left-part {
    display: flex;
    flex: 1 1 auto;
    /* border: white 2px solid;for debugging only */
    width: 600px;
    max-width: 800px;
}

.hero-container .left-part{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 35px;
}

.hero-container .left-part .title{
    font-family: monospace;
    font-size: 40px;
    font-weight: bolder;
}

.hero-container .left-part .text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: monospace;
    font-size: large;
    /* width: 100%; */
    
}


.hero-container .right-part {
    width: 500px;
    max-width: 600px;
    flex-grow: 1;

}
.hero-container .right-part img {
    width: 100%;
}


/* core content */
.core-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 80px 90px;
    row-gap: 50px;

    /* background-color: antiquewhite; */
}

/* title-part */
.core-block .title {
    font-family: monospace;
    font-size: 22px;
    font-weight: bolder;
}

/* Bikes-part */
.core-block .bikes {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    /* align-items: center; */
    width: 100%;
    max-width: 1300px;
}


.core-block .bikes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    width: 150px;
    flex-grow: 1;
}

.core-block .bikes div img {
    width: 100%;
    border-radius: 10px;
}


.core-block .bikes .bike-name {
    text-align: center;
    font-family: monospace;
    font-size: large;
}


/* Invitation-block*/
.invitation-block {
    display: flex;
    justify-content: center;
    padding: 30px 50px; /*edit*/
    background-color: rgba(128, 128, 128, 0.158);

}

.invitation-block .container {
    display: flex;
    flex: auto;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
    padding: 30px 50px;
    max-width: 1200px;
    background-color: rgba(17, 108, 245, 0.863);
    border-radius: 10px;
}

.invitation-block .container .text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    max-width: 850px;

    color: white;
    font-family: monospace;
    font-size: 15px;
}

.invitation-block .container .text .title {
    font-size: x-large;
    font-weight: bolder;
}

/* join-button */

.invitation-block .container button {
    background-color: rgb(58, 100, 58);
    border: 2px rgba(255, 255, 255, 0) solid;
    padding: 3px 10px;
    border-radius: 5px;
    width: 120px;
}

.invitation-block .container button:hover {
    border: 2px white solid;
}

.invitation-block .container button:active {
    border: 2px black solid;

}

.invitation-block .container button a{
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
}


/* credit-block */

.credit-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    background-color: rgb(146, 205, 233);
}

.credit-block .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    row-gap: 15px;
    color: white;
}

.credit-block .credit-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    font-family: monospace;
    font-size: large;
}
.credit-block .buttons {
    align-self: flex-end;
}

.credit-block .container .buttons .credit {
    padding: 3px 10px;
    background-color: rgb(243, 118, 2);
    border-radius: 5px;
    border: 0px;
    border: 2px rgba(0, 0, 0, 0) solid;

}
.credit-block .container .buttons .credit:hover {
    border: 2px rgb(255, 255, 255) solid;

}
.credit-block .container .buttons .credit:active {
    border: 2px rgb(0, 0, 0) solid;

}

.credit-block .container .buttons a {
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: large;
    font-weight: bolder;

}


.credit-block .container .buttons .contact {
    padding: 3px 10px;
    background-color: rgb(0, 132, 255);
    border-radius: 5px;
    border: 0px;
    border: 2px rgba(0, 0, 0, 0) solid;

}
.credit-block .container .buttons .contact:hover {
    border: 2px rgb(255, 255, 255) solid;

}
.credit-block .container .buttons .contact:active {
    border: 2px rgb(0, 0, 0) solid;

}
